.sidebar {
  width: 304px;
  padding: 24px;
  height: 423px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  line-height: 20px;
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  overflow: auto;
  height: 260px;
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}

.menu::-webkit-scrollbar {
  width: 8px;
}

.menu::-webkit-scrollbar-track {
  background-color: transparent;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 12px;
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
